/bin/
/.settings/
*.class
*.log
*.classpath
/.metadata/
/target/surefire-reports/
/target/test-classes/
/target/surefire-reports/
/target/maven-archiver/
/target/classes/
/target/generated-sources/

/target/
